@font-face {
  font-family: boska;
  src: url(../Boska-Variable.ttf);
}
@font-face {
  font-family: boskaItalic;
  src: url(../Boska-VariableItalic.ttf);
}

@font-face {
  font-family: switzer;
  src: url(../font/Switzer-Variable.ttf);
}

#body {
  background-color: #1b3936;

}

#header {
  background-color: #1b3936;
  /* width: 1440px; */
  /* padding-left: 40px;
  padding-right: 40px;
  margin-left: 75px;
  margin-right: 75px; */
}
#navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  justify-items: center;
  padding-left: 120px;
  padding-right: 100px;
  /* padding-top: 26.5px; */
}

.Nav-Links-div {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  justify-items: center;
  flex-basis: 10%;

  /* margin: 10px; */
}

.Nav-links {
  font-family: switzer;
  font-weight: normal;
  margin-top: 25px;
  text-decoration: none;
  color: #ffffff;
  font-size: 18px;
}

#nav-logo {
  /* border: 1px solid red; */

  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-items: center;
  gap: 10px;
}

.nav-logo-items {
  /* border: 1px solid red; */
  display: flex;
  justify-items: center;
  justify-content: center;
}
/* #nav-img-div {
  display: flex;
  justify-content: center;
  justify-items: center;
} */
#nav-img {
  /* border: 1px solid red; */
  margin-top: 20px;
  height: 50px;
  width: 50px;
  /* padding: ; */
}
#Nav-title {
   font-family: "Oranienbaum", serif;
  font-weight: 100;
  font-style: normal;
  color: #75FF69;
  font-size: 28px;
  /* color: white; */
}

/* =====Navbar CSS ends===== */

#home-land {
  display: flex;
  flex-direction: column;
  /* justify-content: center;
  justify-items: center; */
  align-items: center;
}

#title-image {
  height: 500px;
  width: 500px;
  margin-top: 125px;
  margin-bottom: 150px;
  align-items: center;
}
#line-image {
  height: 1000px;
  width: 1100px;
  position: absolute;
  top: -5px;
}

#play-icon {
  height: 80px;
  width: 80px;
  position: relative;
  /* bottom: 5px; */
  top: -420px;
  right: -550px;
}

#title {
  
  /* font-style: italic; */
  /* color: white; */
  font-size: 220px;
  text-align: center;
  position: relative;
  top: -1050px;
}
#cosy{
  font-family: boska;
  font-weight: normal;
  /* border: 1px solid red; */
  color: white;
  position: relative;
  left: -55px;

}
#cabin{
  /* border: 1px solid red; */
  font-family: boskaItalic;
  font-weight: normal;
  /* font-style: italic; */
  color: #75FF69;
  position: relative;
  right: -150px;
  top: -90px;
  
}
#Woods {
  font-family: boska;
  font-weight: normal;
  color: white;
  position: relative;
  top: -450px;
}

#in-the {
  font-family: boska;
  font-weight: normal;
  font-size: 30px;
  position: relative;
  top: -315px;
  color: white;
}


#jackBuild{
  /* border: 1px solid red; */
  font-family: switzer;
  font-weight: normal;
  position: relative;
  top: -1700px;
}


/* =====Main starts===== */


#info-section{
  background-color: white;
  width: 100%;
  margin-left: 0px;
  margin-right: 0px;
  position: relative;
  top: -1570px;
}

#info-icon{
  height: 275px;
}

#info-field{
  /* border: 5px solid red; */
  padding-top: 100px;
  padding-bottom: 160px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  justify-items: center;

}


#info-field-left{
  /* border: 1px solid red; */
  margin-left: 110px;
}

#info-field-left > p {
  font-family: switzer;
  font-weight: normal;
  font-size: 24px;
  padding-top: 40px;
}

#info-field-right{
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  border: 1px solid red; */
  margin-right: 100px;
  
}

.info-items-div{
  /* display: flex;
  flex-direction: column;
  /* justify-content: ce; */
  /* border:1px solid #75FF69;  */
}
.info-items-div > p{
  font-family: switzer;
  font-weight: normal;
  font-size: 24px;
  margin-bottom: 0%;
}
.info-items-div > h1{
  font-family: boska;
  font-weight: bold;
  font-size: 130px;
  margin-top: 0%;
  margin-bottom: 0%;
  position: relative;
  top: -50px;
}

.info-extension{
  font-family: switzer;
  font-weight: normal;
  font-size: 24px;
}


#after-info{
  width: 100%;
  height: 850px;
  position: relative;
  top: -1600px;
}

#about-us-field{
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  justify-items: center;
  justify-content: center;
  align-items: center;
  grid-gap: 40px;
  grid-row-gap: 150px;

  
  /* border: 2px solid red; */
  /* gap: 20px; */

  position: relative;
  top: -1500px;
}

.about-us-images{
  width: auto;
  height: 500px;
}

#about-us-description{
  margin-left: 10px;
  margin-right: 10px;
  text-align: center;
  position: relative;
  top: -2500px;
}
#about-us-description > p{
  font-family: boska;
  font-weight: normal;
  font-size: 70px;
  color: white;
  margin: 0%;
}

#about-us-description > h5{
  font-family: switzer;
  font-weight: normal;
  font-size: 30px;
  color: #75FF69;
}

#sliding-image{
  height:370px;
  width: 450px;
  position: relative;
  left: -300px;
  bottom: -180px;

}

#round-shape-image{
  position:relative;
  right: -300px;
}

#fishing-image{
  position: relative;
  bottom: -300px;
  left: -200px ;
}


#girl-with-bag{
  position: relative;
  bottom: -350px;
  right: -200px;
}


#intersect-image{
  width: 100%;
  height: 115px;
  position: relative;
  top: -1900px;
}

.about-us-text-gray{
  color: #678784;
}